*{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman';
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.navbar {
    height: 12% ;
    display: flex;
    align-items: center; 
    position: absolute;
    top: 0;
    right:20px;
    left: 40px;
    width: auto;
    justify-content: space-between;
    padding: 25px;
    color: #f2f2f2;
}
.logo {
    width: 250px;
    cursor: pointer;
    padding-top: 17px;
}
nav {
    display: flex;
    text-align:right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;

}
nav ul li a {
    text-decoration: none;
    color: beige;
    font-size: 16px;
}
nav ul li a:hover{
    color:  #b38a45;
    text-decoration: 0.4s;
}
.Ms {
    padding: 8px 30px;
    border: 0;
    border-radius: 9px;
    background: #b38a45;
    font-size: 18px;
}